<h1>Hello from show</h1>
<h3><%= @vote.name %></h3>
<%= form_tag("/votes/#{@vote.id}") do %>
  <%= label_tag 'choice_yes', 'Yes' %>
  <%= radio_button_tag 'choice', 'yes' %>
  <%= label_tag 'choice_no', 'No' %>
  <%= radio_button_tag 'choice', 'no' %>
  <%= submit_tag 'Vote' %>
<% end %>
