<div class="votes-container">
  <div class="row">
    <div class="large-12 columns">
      <h2><%= @vote.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= form_tag("/votes/#{@vote.id}") do %>
        <input type="hidden" name="name" value="<%= @vote.name %>">
        <input type="hidden" name="choice" value="yes">
        <%= submit_tag "Yes" %>
      <% end %>
      <%= form_tag("/votes/#{@vote.id}") do %>
        <input type="hidden" name="name" value="<%= @vote.name %>">
        <input type="hidden" name="choice" value="no">
        <%= submit_tag 'No' %>
      <% end %>
    </div>
  </div>
</div>
