<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HashHub</title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-options="is_hover:false">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Hash Stash</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <li class="has-dropdown"><a href="/">Hash Comments</a>
            <ul class="dropdown">
              <li><label>Commenting.</label></li>
              <li><a href="/comments">All Comments</a></li>
              <li><a href="/comments/new">New Coment</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="/votes">Hash Votes</a>
            <ul class="dropdown">
              <li><label>Voting.</label></li>
              <li><a href="/votes">All Votes</a></li>
              <li><a href="/votes/new">New Vote</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
